@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.myproject-back {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.my-image {
    height: 40vh;
    width: 100vw;
}

.myproject-heading {
    color: #183b56;
    font-family: "Bree Serif";
}

.myproject-para {
    color: #616e7c;
    font-family: "Bree Serif";
}

.myproject-image {
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 10px;
}


.advanced-technologies-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}

.advanced-technologies-card {
    background-color: #ffffff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 25px;
}

.advanced-technologies-title {
    color: #5752ab;
    font-family: "Bree Serif";
    font-size: 24px;
}

.advanced-technologies-description {
    color: #323f4b;
    font-family: "Roboto";
}

.advanced-technologies-learn-more-button {
    color: #171f46;
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    width: 126px;
    height: 38px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7dfe9;
    border-radius: 8px;
    margin-right: 5px;
}

.advanced-technologies-save-draft-button {
    color: #ffffff;
    background-color: #5752ab;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    width: 126px;
    height: 38px;
    border-width: 0px;
    border-radius: 8px;
    margin-left: 5px;
}



.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: #ffffff;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: #ffffff;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}



.food-order-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    background-size: cover;
}

.order-card {
    background-color: #f6c56e;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 24px;
}

.order-card-heading {
    color: #323f4b;
    font-family: "Bree Serif";
    font-size: 30px;
}

.order-card-paragraph {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
}

.order-card-button {
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    width: 120px;
    height: 38px;
    border-width: 0px;
    border-radius: 8px;
}

.book-home-back {
    background-color: #1b1b1b;
    padding: 20px;
    height: 100vh;
}

.book-home-heading {
    color: white;
    font-family: "Bree Serif";
}

.book-top-card {
    background-color: #e6f6ff;
    border-radius: 20px;
    margin-bottom: 10px;
}

.book-image-home1 {
    width: 150px;
    height: 200px;
    margin-right: 20px;
}

.book-top-card-heading {
    padding-top: 20px;
    color: #183b56;
    font-family: "Bree Serif";
    font-size: 20px;
    font-weight: 500;
}

.book-top-card-para1 {
    color: #06070d;
    font-family: "Bree Serif";
    font-weight: bold;
}

.book-top-card-para2 {
    color: #183b56;
    font-family: "Bree Serif";
}

.book-home-heading2 {
    color: white;
    font-size: 25px;
    font-family: "Bree Serif";
}

.book-bottom-card-heading {
    color: white;
    font-family: "Bree Serif";
    font-size: 20px;
    font-weight: 500;
}

.book-bottom-card-para {
    color: white;
    font-family: "Bree Serif";
}

.book-home-reccom {
    margin-bottom: 10px;
}

.book-read-img {
    height: 300px;
    width: 200px;
    margin: 10px;

}

.book-detail-back {
    background-color: #1b1b1b;
    padding: 20px;
    height: 100vh;
    text-align: center;
}

.book-read-heading {
    color: white;
    padding-top: 10px;
    font-size: 35px;
    font-family: "Bree Serif";
    text-align: center;
}

.book-read-para {
    color: #9aa5b1;
    font-family: "Bree Serif";
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

.book-read-para2 {
    color: #e4efeb;
    font-family: "Bree Serif";
    text-align: left;
    margin-bottom: 10px;
}

.goa-card-container {
    padding: 24px;
}

.goa-card-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
}

.goa-card-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
}

.goa-card-image {
    margin: 4px;
}

.goa-video-container {
    width: 96px;
    height: 96px;
    border-radius: 8px;
    margin: 4px;
}


.music-back-color {
    background-color: #03174c;
    height: 100vh;
}

.music-bg-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-stars-bg.png");
    background-size: cover;
    height: 40vh;
    padding: 20px;
    text-align: center;
}

.music-home-heading {
    padding-top: 80px;
    color: white;
    font-family: "Bree Serif";

}

.music-para {
    margin: 10px;
    color: white;
    font-family: "Bree Serif";
    font-weight: 500;
    text-align: center;
}

.music-back-color {
    background-color: #03174c;
}

.music-home-card {
    padding: 20px;
}

.music-image-night {
    background-size: cover;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
    height: 30vh;
    margin-bottom: 5px;
}

.music-night-heading {
    text-align: center;
    padding: 30px;
    color: #ffe7bf;
    font-family: "Bree Serif";
}

.music-detail-related {
    color: white;
    font-family: "Bree Serif";
    font-size: 20px;
}

.music-button {
    background-color: #8e97fd;
    border-radius: 10px;
    width: 100px;
    color: white;
    font-family: "Bree Serif";
}

.night-head-image {
    height: 30vh;
    width: 100vw;

}

.music-detail-heading {
    color: white;
    font-family: "Bree Serif";
}

.music-detail-para {
    color: #98a1bd;
    font-family: "Bree Serif";
}

.music-image-related {
    height: 100px;
    width: 150px;
    margin-right: 20px;
}